<div class="heroImage">
	<div class="heroContents">
		<h2>Pizza not made for sharing</h2>
        <%= link_to 'Order Yours Now',  new_order_path, class:"btn" %>
    </div>
</div>

<div class="main-container clearfix">
    <h1>Featured Pizzas</h1>
        <div class="box">
            <img src="https://i.ibb.co/Nx2vgQh/meat-lovers.jpg" class="pizza-img clearfix" alt="meat-lovers pizza">
            <h3 class="name" id="pizza-one">Meat Lovers</h3>
            <p class="content">Packed with pepperoni, Italian sausage, ham, bacon, seasoned pork and beef, this pizza is NOT messing around.</p>
        </div>
    </div>
        <div class="box">
            <img src="https://i.ibb.co/7Jrm1Db/neapolitan.jpg" class="pizza-img clearfix" alt="neapolitan pizza">
            <h3 class="name" id="pizza-two">Neapolitan</h3>
            <p class="content">The typical Neapolitan pizza toppings are fresh mozzarella, tomatoes, basil leaves, oregano, and olive oil. Since Neapolitan pizza is thin, it isn't designed to handle the weight of too many toppings. In fact, Neapolitan pizza is so thin that it's typically eaten with a fork and knife.</p>
        </div>
        <br>
    </div>
        <div class="box">
            <img src="https://i.ibb.co/5WdCYts/ortolana.jpg" class="pizza-img clearfix" alt="ortolana pizza">
            <h3 class="name" id="pizza-three">Ortolana</h3>
            <p class="content">Consists of a basic pizza dough which is smeared with tomato sauce, topped with mozzarella and grilled slices of eggplant and zucchini, then baked. Lastly, pizza ortolana is typically drizzled with olive oil and topped with fresh basil.</p>
        </div>
    </div>
    <button onclick="topFunction()" class="btn clearfix" id="scroll">Back to Top</button>
</div>