<h1><%= current_user.first_name%>'s Orders</h1>

<% current_user.orders.each do |order| %>
    <section>
       <h3><%= order.created_at.strftime("Placed on %B %d, %Y at %k:%M %p") %></h3>
       <h3>Total pizzas ordered: <%= order.pizzas.count%></h3> 
        Notes: <%= order.note %>
    </section>
<% end %>