// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-order {
    background-color: #debea0;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: large;
    text-align: right;
    padding-right: 1vmax;
    display: block;
}
